<mat-card>
    <mat-card-title>
        Novo Usuario
    </mat-card-title>
    <form>
        <mat-form-field> 
            <input matInput placeholder="Nome" [(ngModel)]="sistema.nome" name="nome">
        </mat-form-field>

        <mat-form-field> 
            <input matInput placeholder="Login" [(ngModel)]="sistema.login" name="login">
        </mat-form-field>

        <mat-form-field> 
            <input matInput placeholder="Senha" [(ngModel)]="sistema.senha" name="senha">
        </mat-form-field>

        <mat-form-field> 
            <input matInput placeholder="Email" [(ngModel)]="sistema.email" name="email">
        </mat-form-field>

        
    </form>



<button mat-raised-button (click)="createUsuario()" color="primary">
    Salvar
</button>

<button mat-raised-button (click)="cancel()" >
    Cancelar
</button>
</mat-card>