<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened
     fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                       home 
                </i>
                Início
            </a>
            <a mat-list-item routerLink="/sistema">
                <i class="material-icons">
                       storefront 
                </i>
                Sistema
            </a>

            <a mat-list-item routerLink="views/sistema/sistema-create">
                <i class="material-icons">
                    system_update_alt 
                </i>
                Sistema + Usuario
            </a>

            <a mat-list-item routerLink="views/sistema/historico-pesquisar">
                <i class="material-icons">
                    system_update_alt 
                </i>
               Historico Combustivel
            </a>

        </mat-nav-list>
        
    </mat-sidenav>

    <mat-sidenav-content class="content">
        <!--<app-home></app-home>-->
        <router-outlet></router-outlet>
        <!--<app-sistema></app-sistema>-->
       
       </mat-sidenav-content>
</mat-sidenav-container>

