<mat-card>
    <mat-card-title>
        Pesquisar Historico
    </mat-card-title>
    <form>
        <mat-form-field> 
            <input matInput placeholder="combustivel" [(ngModel)]="historico.combustivel" name="combustivel">
        </mat-form-field>

      
        
       

          <div class="form-group row">
            <label for="example-date-input" class="col-2 col-form-label" [(ngModel)]="historico.data" name="data">Data</label>
            <div class="col-10">
              <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
            </div>
          </div>

        
    </form>


<span  class="button">
<button mat-raised-button (click)="createHistorico()" color="primary">
    Pesquisar
</button>

<button mat-raised-button (click)="cancel()" >
    Cancelar
</button>
</span>
</mat-card>