.main-footer {
  
    font-weight: bold;
    font-size: 1.1rem;
    color: rgb(6, 9, 43);

}
.footer {
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: flex-end;
   
    
  }
  